body
{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: #ecf0f1;
}
/*
.header-login
{
	background: grey;
	height: 150px;
	width: 100%;
}

.footer-login
{
	background: grey;
	height: 150px;
	width: 100%;
}
*/

.entrada
{
    background: #4CAF50;/*Google Material Design Color*/
    width: 16px;
    height: 16px;
    display: inline-block;
}

.salida
{
	background: #FF5722;/*Google Material Design Color*/
    width: 16px;
    height: 16px;
    display: inline-block;
}

.centrar
{
	text-align: center;
}

.login
{
	margin: 1em;
	background-color: white;
	padding: 2em;
	position: relative;
	border-width: 1px 1px 2px;
	border-color: #cfd9db #cfd9db #c0cdd1;
	border-radius: 3px;
	box-shadow: -1px 4px 39px #888888;
}

.head-login
{
	color: white;
	text-align: center;
	padding: 0.2em;
	background-color: #03a9f4;
	box-shadow: -1px 0px 4px #888888;
	position: relative;
	font-weight: bold;
}

.top-bar 
{
	overflow: hidden;
	height: 2.8125rem;
	line-height: 2.8125rem;
	position: relative;
	background: #2196F3;
	margin-bottom: 0;
	box-shadow: -1px 4px 39px #888888;
}

.top-bar-section li:not(.has-form) a:not(.button) {
	padding: 0 0.9375rem;
	line-height: 2.8125rem;
	background: #2196F3;
}

.top-bar-section ul li>a {
	display: block;
	width: 100%;
	color: #fff;
	padding: 12px 0 12px 0;
	padding-left: 0.9375rem;
	font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-size: 0.8125rem;
	font-weight: normal;
	text-transform: none;
}

.top-bar-section ul li>a {
	display: block;
	width: 100%;
	color: #fff;
	padding: 12px 0 12px 0;
	padding-left: 0.9375rem;
	font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	font-size: 1em;
	font-weight: bold;
	text-transform: none;
}

.top-bar .name h1 a, .top-bar .name h2 a, .top-bar .name h3 a, .top-bar .name h4 a, .top-bar .name p a, .top-bar .name span a {
	font-weight: bold;
	color: #fff;
	width: 75%;
	display: block;
	padding: 0 0.9375rem;
}

.top-bar .name h1, .top-bar .name h2, .top-bar .name h3, .top-bar .name h4, .top-bar .name p, .top-bar .name span {
	line-height: 2.8125rem;
	font-size: 1.2em;
	margin: 0;
}

.tabla-resumen
{
	background-color: white;
	position: relative;
	border-width: 1px 1px 2px;
	box-shadow: -1px 4px 39px #888888;
}